# DİKKAT burada değerler(Values) anhataları ayrı yazılır.
# : tan sonra mutlaka boşluk olmalıdır.
# alt bileşenler bir tab içte tanımlanır.
server:
  port: 8080

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/Java5Test
    username: postgres
    password: 21wvtmykx
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true